<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <tmopayment>
                <active>0</active>
                <model>Thomas\OfflinePayments\Model\TmoPayment</model>
                <order_status>pending</order_status>
                <title>Offline Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </tmopayment>
        </payment>
    </default>
</config>
